ForTerkom/Debug/cudart32_70.dll
ForTerkom/Debug/Normalize.dll
ForTerkom/Debug/Normalize.lib
ForTerkom/Debug/Normalize.exp
ForTerkom/ForTerkom/bin/Debug/ForTerkom.exe
ForTerkom/ForTerkom/bin/Debug/ForTerkom.pdb
*.dll
ForTerkom/ForTerkom/bin/Debug/ForTerkom.vshost.exe
ForTerkom/ForTerkom/obj/Debug/App.g.cs
ForTerkom/ForTerkom/bin/Debug/ForTerkom.vshost.exe.manifest
ForTerkom/Debug/Normalize.ilk
ForTerkom/Debug/Normalize.pdb
ForTerkom/ForTerkom/obj/Debug/App.g.i.cs
*.cache
*.exe
*.tlog
*.obj
*.log
*.baml
ForTerkom/ForTerkom/obj/Debug/ForTerkom.Properties.Resources.resources
ForTerkom/ForTerkom/obj/Debug/ForTerkom.g.resources
ForTerkom/ForTerkom/obj/Debug/ForTerkom.csproj.FileListAbsolute.txt
ForTerkom/ForTerkom/bin/Debug/ForTerkom.exe.config
ForTerkom/ForTerkom/bin/Debug/ForTerkom.vshost.exe.config
ForTerkom/ForTerkom/obj/Debug/ForTerkom.pdb
ForTerkom/ForTerkom/obj/Debug/ForTerkom_Content.g.cs
ForTerkom/ForTerkom/obj/Debug/ForTerkom_Content.g.i.cs
ForTerkom/ForTerkom/obj/Debug/MainWindow.g.cs
ForTerkom/ForTerkom/obj/Debug/MainWindow.g.i.cs
ForTerkom/Normalize/Debug/kernel.cu.deps
ForTerkom/ForTerkom/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ForTerkom/ForTerkom/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ForTerkom/ForTerkom/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs